/**** main.css ****/
.h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
.h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}
.h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
.h4 {
	margin: 1.33em 0;
}
.wrapper {
	width: 500px;
	margin: 0 auto;
}
#header {
	color: #ffffff;
	background-color: #004879;
	text-align: center;
	font-family: Cookie, cursive;
}
